@import url(https://fonts.googleapis.com/css?family=Sunshiney);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

* {
  margin: 0;
  padding: 0;
  /*font-family: 'Sunshiney', cursive;*/
  font-family: 'Patrick Hand SC', cursive;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently */
}

.title {
  margin: 100px 0 0 180px;
  border-bottom: 2px solid black;
}

/*piano*/

.white-keys-container{
  margin: 148px 0 0 180px;
    border-left: 2px solid black;
    text-align: center;
    height:154px;
    overflow: hidden;
    display: inline-block;

}
.white-keys{
    width: 40px;
    height: 150px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
    position:relative;
    float:left;
    z-index: 1;
 }

 .white-keys span{
     position: absolute;
     bottom:0;
     right:0;
     left:0;
     margin:auto;
     z-index: 3;
 }



 .black-keys-container {
   margin: 293px 0 0 180px;
   height: 130px;
   position: absolute;
   top: 0;
 }

 .black-keys span{
     position: absolute;
     bottom:0;
     right:0;
     left:0;
     margin:auto;
     z-index: 3;
 }

.black-keys {
    width: 30px;
    height: 80px;
    /*border: 2px solid black;*/
    background: black;
    color: white;
    text-align: center;
    position:relative;
    display: inline-block;
    vertical-align: top;
    top:0;
    right:-18px;
    z-index: 100;
    margin-left: 8px;
}

#fake1, #fake2, #fake3, #fake4 {
  visibility: hidden;
}




/*drums*/

.drumsContainer {
  margin-left: 285px;
  height: 300px;
}

#hiHat, #snare, #kick, #crash {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: inline-block;
  border-radius: 100%;
}
